{% extends 'HomeBundle::layout.html.twig' %}

{% block title %}Inicio Test Omitsis{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1>Nou-u Test!</h1>

    <p> Seleccione una de las opciones del menu superior</p>


{% endblock %}
